.alert {
  padding: 8px 15px 8px 15px;
  width: 900px;
  margin-bottom: 20px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  background-color: #fcf8e3;
  border: 1px solid #fbeed5;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.alert,
.alert h4 {
  color: #c09853;
}
.alert h4 {
  margin: 0;
}
.alert .close {
  position: relative;
  top: -2px;
  right: -21px;
  line-height: 20px;
}
.alert-success {
  color: #468847;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}
.alert-success h4 {
  color: #468847;
}
.alert-danger,
.alert-error {
  color: #b94a48;
  background-color: #f2dede;
  border-color: #eed3d7;
}
.alert-danger h4,
.alert-error h4 {
  color: #b94a48;
}
.alert-info {
  color: #3a87ad;
  background-color: #d9edf7;
  border-color: #bce8f1;
}
.alert-info h4 {
  color: #3a87ad;
}
.alert-block {
  padding-top: 14px;
  padding-bottom: 14px;
}
.alert-block > p,
.alert-block > ul {
  margin-bottom: 0;
}
.alert-block p + p {
  margin-top: 5px;
}
.buttons {
  overflow: hidden;
  line-height: 1em;
  text-align: center;
}
.button-action {
  color: #fff !important;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  padding: 15px 20px;
  display: inline-block;
  border-radius: 2px;
  text-decoration: none;
  border: 0;
  cursor: pointer;
  background: #ec762f; /* Old browsers */
  background: -moz-linear-gradient(top,  #ec762f 0%, #eb7228 50%, #eb6d21 51%, #ea6617 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ec762f), color-stop(50%,#eb7228), color-stop(51%,#eb6d21), color-stop(100%,#ea6617)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #ec762f 0%,#eb7228 50%,#eb6d21 51%,#ea6617 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #ec762f 0%,#eb7228 50%,#eb6d21 51%,#ea6617 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #ec762f 0%,#eb7228 50%,#eb6d21 51%,#ea6617 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #ec762f 0%,#eb7228 50%,#eb6d21 51%,#ea6617 100%); /* W3C */
}
.button-action:hover {
  background: #ff9900; /* Old browsers */
  background: -moz-linear-gradient(top,  #ff9900 0%, #ff9900 50%, #ff9200 51%, #ff8d00 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff9900), color-stop(50%,#ff9900), color-stop(51%,#ff9200), color-stop(100%,#ff8d00)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #ff9900 0%,#ff9900 50%,#ff9200 51%,#ff8d00 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #ff9900 0%,#ff9900 50%,#ff9200 51%,#ff8d00 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #ff9900 0%,#ff9900 50%,#ff9200 51%,#ff8d00 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #ff9900 0%,#ff9900 50%,#ff9200 51%,#ff8d00 100%); /* W3C */
  text-decoration: none;
}
.notification-box {
  position: relative;
  font-family: 'Varela', Arial, sans-serif;
  border: 1px solid #bce8f1;
  padding: 10px;
  font-size: 13px;
  -webkit-box-shadow: 2px 2px 5px #eee;
  box-shadow: 2px 2px 5px #eee;
  margin: 10px 0 0 0;
  color: #3a87ad;
  background-color: #d9edf7;
  overflow: hidden;
}
.notification-box > p {
  margin: 0;
  padding: 0;
}
.notification-box.hide {
  display: none;
}
.notification-box.no-top {
  margin-top: 0;
}
.notification-box.extra-bottom {
  margin-bottom: 20px;
}
.notification-box.success {
  border-color: #d6e9c6;
  background-color: #dff0d8;
  color: #468847;
}
.notification-box.success a {
  color: #468847;
}
.notification-box.failure,
.notification-box.error {
  border-color: #eed3d7;
  background-color: #f2dede;
  color: #b94a48;
}
.notification-box.failure a,
.notification-box.error a {
  color: #b94a48;
}
.notification-box.warning {
  border-color: #fbeed5;
  background-color: #fcf8e3;
  color: #c09853;
}
.notification-box.warning a {
  color: #c09853;
}
.notification-box .button-action,
.notification-box .button-secondary {
  font-family: Arial;
}
